:root {
  --slidev-code-padding: 8px 10px;
  --slidev-code-background: #faf9f5;
  --code-background: #fefefe;
  --slidev-code-font-size: 14px; /* .slidev-code */
  --vp-code-font-size: var(--slidev-code-font-size);
  --twoslash-code-size: var(--slidev-code-font-size);
  --slidev-code-margin: 0;
  --slidev-theme-primary: #141413; /* .slidev-layout h1 */
  --slidev-theme-warning: #e00400CC;
}

/* Reset */
body {
  color: var(--slidev-theme-primary);
}

.mark, mark {
  background-color: transparent;
  color: var(--slidev-theme-warning);
}

/* Editor */
.slidev-code {
  backdrop-filter: blur(10px);
  border: 1px solid #dedede;
  background: var(--code-background) !important;
}

.slidev-layout :not(pre) > code {
  background-color: #E5E5E5;
  font-weight: 400;
}

/* Layout */
.slidev-slide-content {
  background-color: var(--slidev-code-background) !important;
}

.slidev-layout.fact, .slidev-layout.quote {
  h1 {
    @apply text-[3em] font-bold;
  }
}