:root {
  --slidev-code-padding: 8px 10px;
  --slidev-code-background: #faf9f5;
  --code-background: #fefefe;
  --slidev-code-margin: 0;
  --slidev-theme-primary: #141413; /* .slidev-layout h1 */
  --slidev-theme-warning: #e00400CC;
}

body {
  color: var(--slidev-theme-primary);
}

.slidev-slide-content {
  background-color: var(--slidev-code-background) !important;
}

h1 {
  /* font-weight: 400 !important; */
}

.mark, mark {
  background-color: transparent;
  color: var(--slidev-theme-warning);
}

.slidev-code {
  backdrop-filter: blur(10px);
  border: 1px solid #dedede;
  background: var(--code-background) !important;
}

.slidev-monaco-container {
  border: 1px solid #dedede;
  background: var(--code-background) !important;
  .monaco-editor {
    --vscode-editor-background: var(--code-background) !important;
    --vscode-editorGutter-background: var(--code-background) !important;
  }
}

.slidev-code-tab {
  border: none !important;
}

.slidev-code-group-tabs {
  box-shadow: none !important;
}

.slidev-layout.cover {
  padding-right: 8rem;
  padding-left: 8rem;

  h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 4rem;
    text-align: justify;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: pre-line;
    letter-spacing: 0.2px;
    text-align-last: justify;
    margin-bottom: 0;
  }
}

.slidev-layout.quote h1 {
  margin-bottom: 0;
}

.slidev-layout.fact {
  h1 {
    @apply text-[3em];
  }
}

.slidev-layout p, .slidev-layout h1 + p{
  font-size: inherit;
  font-weight: 400;
  opacity: 1;
  margin-top: 0;
  margin-bottom: .5rem;
}

.slidev-layout a, .slidev-layout a:hover {
  border-style: none;
}

/* Magic Links */
.markdown-magic-link {
  display: inline-flex;
  transform: translateY(5px);
  line-height: 100%;
  color: #000b;
  --uno: gap-1 transition rounded px1 py1 mx--0.5 important-border-0 font-condensed;
}

.markdown-magic-link-image {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}